<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="item" class="com.config.Item">
	<property name="name" value="#{customer.name}"></property>
	<property name="qty" value="100"></property>
	
	</bean>
<bean id="customer" class="com.config.Customer">
   <property name="name" value="praneeth"></property>
   
   
   <property name="item" value="#{item}"></property>
	</bean>
	</beans>