<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="student" class="com.praneeth.Student">
<property name="id" value="123"></property>
<property name="details">
<list>
<value>praneeth</value>

<value>telangana</value>
<value>hyderabad</value>
<value>praneeth</value>



</list>



</property>
</bean>
<alias name="student" alias="s"/>
</beans>