<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="student" class="com.config.Student" autowire="byType">
<property name="rollno" value="101"></property>
<property name="name" value="praneeth"></property>


</bean>
<bean id="add" class="com.config.Address">
<property name="city" value="hyd"></property>
<property name="state" value="telangana"></property>
<property name="country" value="india"></property>
</bean>
</beans>